@import "base";

/* ---------------------- Slider : simple parallax ---------------------- */

.w3d-prlx-slider{
	width: 100%;
	/*min-width: 768px;*/
	height: 400px;
	position: relative;
	margin: 30px auto;
	overflow: hidden;
	background: transparent url(../../img/sample/simple-parallax/background.png) repeat 0% 0%;
	border-top: 8px solid #34373C;
	border-bottom: 8px solid #5E647F;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.2), 0px -2px 1px #fff;
	-webkit-transition: background-position 1.4s ease-in-out 0.3s;
	-moz-transition: background-position 1.4s ease-in-out 0.3s;
	-o-transition: background-position 1.4s ease-in-out 0.3s;
	-ms-transition: background-position 1.4s ease-in-out 0.3s;
	transition: background-position 1.4s ease-in-out 0.3s;
}
.w3d-prlx-slide{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
}
.w3d-prlx-slide-current{
	z-index: 1000;
}
.w3d-prlx-slider-fb .w3d-prlx-slide{
	left: 100%;
}
.w3d-prlx-slider-fb .w3d-prlx-slide.w3d-prlx-slide-current{
	left: 0px;
}
.w3d-prlx-slide h2,
.w3d-prlx-slide p,
.w3d-prlx-slide .w3d-prlx-link,
.w3d-prlx-slide .w3d-prlx-img{
	position: absolute;
    margin-top: 0px;
	opacity: 0;
	left: 110%;
}
.w3d-prlx-slider-fb .w3d-prlx-slide h2,
.w3d-prlx-slider-fb .w3d-prlx-slide p,
.w3d-prlx-slider-fb .w3d-prlx-slide .w3d-prlx-link{
	left: 10%;
	opacity: 1;
}
.w3d-prlx-slider-fb .w3d-prlx-slide .w3d-prlx-img{
	left: 60%;
	opacity: 1;
}
.w3d-prlx-slide h2{
	color: #fff;
	font-size: 66px;
	width: 80%; /* Change this if you want to change slide title width */
	top: 55px;
	white-space: nowrap;
	z-index: 10;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	
	/* v0.9 - prevent extra long titles to go over the h2 box */
	text-overflow: ellipsis;
	overflow: hidden;
}
.w3d-prlx-slide p{
	width: 45%; 
	top: 155px;
	color: #C7C7C7;
	font-size: 18px;
	line-height: 26px;
	height: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-style: italic;
	font-family: 'Economica', Arial, sans-serif;
	font-weight: 400;
	font-style: italic;
}
.w3d-prlx-slide .w3d-prlx-img{
	text-align: center;
	width: 30%; /* Change this if you want to change slide image width */
	top: 70px;
	height: 256px;
	line-height: 320px;
	left: 110%; /*60%*/
}
.w3d-prlx-slide .w3d-prlx-link{
	/*top: 270px;*/ /*depends on p height*/
	bottom: 50px; /* new in v0.6 */
	border-radius: 30px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border: 8px solid rgba(255,255,255,0.8);
	padding: 2px 20px 0px;
	/*font-size: 18px;*/
	line-height: 30px;
	text-align: center;
	background: rgba(255,255,255,0.2);
	text-decoration: none;
}
.w3d-prlx-slide .w3d-prlx-link:hover{
	background: rgba(255,255,255,0.3);
}
.w3d-prlx-dots{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 20px;
	z-index: 2000;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.w3d-prlx-dots span{
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #264452;
	margin: 3px;
	cursor: pointer;
	box-shadow: 
	1px 1px 1px rgba(0,0,0,0.1) inset, 
	1px 1px 1px rgba(255,255,255,0.1);
}
.w3d-prlx-dots span.w3d-prlx-dots-current:after{
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.w3d-prlx-arrows{
	-moz-user-select: none;
	-webkit-user-select: none;
}
.w3d-prlx-arrows span{
	position: absolute;
	top: 50%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #264452;
	cursor: pointer;
	z-index: 2000;
	opacity: 0;
	box-shadow: 
	1px 1px 1px rgba(0,0,0,0.1) inset, 
	1px 1px 1px rgba(255,255,255,0.1);
	-webkit-transition: opacity 0.4s ease-in-out 0.2s;
	-moz-transition: opacity 0.4s ease-in-out 0.2s;
	-o-transition: opacity 0.4s ease-in-out 0.2s;
	-ms-transition: opacity 0.4s ease-in-out 0.2s;
	transition: opacity 0.4s ease-in-out 0.2s;
}
.w3d-prlx-slider:hover .w3d-prlx-arrows span{
	opacity: 1;
}
.w3d-prlx-arrows span:after{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	top: 5px;
	left: 5px;
	background: transparent url(../../img/sample/simple-parallax/arrows.png) no-repeat top left;
	border-radius: 50%;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.w3d-prlx-arrows span:hover:after{
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.w3d-prlx-arrows span:active:after{
	box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
}
.w3d-prlx-arrows span.w3d-prlx-arrows-next:after{
	background-position: top right;
}
.w3d-prlx-arrows span.w3d-prlx-arrows-prev{
	left: 15px;
}
.w3d-prlx-arrows span.w3d-prlx-arrows-next{
	right: 15px;
}

.w3d-prlx-slide-current h2,
.w3d-prlx-slide-current p,
.w3d-prlx-slide-current .w3d-prlx-link{
	left: 10%;
	opacity: 1;
}
.w3d-prlx-slide-current .w3d-prlx-img{
	left: 60%;
	opacity: 1;
}
/* Animation classes and animations */

/* Slide in from the right*/
.w3d-prlx-slide-fromright h2{
	-webkit-animation: fromRightAnim1-slide 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim1-slide 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim1-slide 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim1-slide 0.6s ease-in 0.8s both;
	animation: fromRightAnim1-slide 0.6s ease-in 0.8s both;
}
.w3d-prlx-slide-fromright p{
	-webkit-animation: fromRightAnim2-slide 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim2-slide 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim2-slide 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim2-slide 0.6s ease-in 0.8s both;
	animation: fromRightAnim2-slide 0.6s ease-in 0.8s both;
}
.w3d-prlx-slide-fromright .w3d-prlx-link{
	-webkit-animation: fromRightAnim3-slide 0.4s ease-in 1.2s both;
	-moz-animation: fromRightAnim3-slide 0.4s ease-in 1.2s both;
	-o-animation: fromRightAnim3-slide 0.4s ease-in 1.2s both;
	-ms-animation: fromRightAnim3-slide 0.4s ease-in 1.2s both;
	animation: fromRightAnim3-slide 0.4s ease-in 1.2s both;
}
.w3d-prlx-slide-fromright .w3d-prlx-img{
	-webkit-animation: fromRightAnim4-slide 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim4-slide 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim4-slide 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim4-slide 0.6s ease-in 0.8s both;
	animation: fromRightAnim4-slide 0.6s ease-in 0.8s both;
}

@-webkit-keyframes fromRightAnim1-slide{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim2-slide{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim3-slide{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim4-slide{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

/* Slide in from right with rotation effects */

.rotate.w3d-prlx-slide-fromright h2{
	-webkit-animation: fromRightAnim1-rotate 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim1-rotate 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim1-rotate 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim1-rotate 0.6s ease-in 0.8s both;
	animation: fromRightAnim1-rotate 0.6s ease-in 0.8s both;
}
.rotate.w3d-prlx-slide-fromright p{
	-webkit-animation: fromRightAnim2-rotate 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim2-rotate 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim2-rotate 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim2-rotate 0.6s ease-in 0.8s both;
	animation: fromRightAnim2-rotate 0.6s ease-in 0.8s both;
}
.rotate.w3d-prlx-slide-fromright .w3d-prlx-link{
	-webkit-animation: fromRightAnim3-rotate 0.4s ease-in 1.2s both;
	-moz-animation: fromRightAnim3-rotate 0.4s ease-in 1.2s both;
	-o-animation: fromRightAnim3-rotate 0.4s ease-in 1.2s both;
	-ms-animation: fromRightAnim3-rotate 0.4s ease-in 1.2s both;
	animation: fromRightAnim3-rotate 0.4s ease-in 1.2s both;
}
.rotate.w3d-prlx-slide-fromright .w3d-prlx-img{
	-webkit-animation: fromRightAnim4-rotate 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim4-rotate 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim4-rotate 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim4-rotate 0.6s ease-in 0.8s both;
	animation: fromRightAnim4-rotate 0.6s ease-in 0.8s both;
}

@-webkit-keyframes fromRightAnim1-rotate{
	0%{ -webkit-transform: rotate(90deg); left: 110%; opacity: 0; }
	100%{ -webkit-transform: rotate(0deg); left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim2-rotate{
	0%{ -webkit-transform: rotate(90deg); left: 110%; opacity: 0; }
	100%{ -webkit-transform: rotate(0deg); left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim3-rotate{
	0%{ -webkit-transform: rotate(90deg); left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ -webkit-transform: rotate(0deg); left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim4-rotate{
	0%{ -webkit-transform: rotate(90deg); left: 110%; opacity: 0; }
	100%{ -webkit-transform: rotate(0deg); left: 60%; opacity: 1; }
}

@-moz-keyframes fromRightAnim1-rotate{
	0%{ -moz-transform: rotate(90deg); left: 110%; opacity: 0; }
	100%{ -moz-transform: rotate(0deg); left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim2-rotate{
	0%{ -moz-transform: rotate(90deg); left: 110%; opacity: 0; }
	100%{ -moz-transform: rotate(0deg); left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim3-rotate{
	0%{ -moz-transform: rotate(90deg); left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ -moz-transform: rotate(0deg); left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim4-rotate{
	0%{ -moz-transform: rotate(90deg); left: 110%; opacity: 0; }
	100%{ -moz-transform: rotate(0deg); left: 60%; opacity: 1; }
}

@-o-keyframes fromRightAnim1-rotate{
	0%{ -o-transform: rotate(90deg); left: 110%; opacity: 0; }
	100%{ -o-transform: rotate(0deg); left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim2-rotate{
	0%{ -o-transform: rotate(90deg); left: 110%; opacity: 0; }
	100%{ -o-transform: rotate(0deg); left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim3-rotate{
	0%{ -o-transform: rotate(90deg); left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ -o-transform: rotate(0deg); left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim4-rotate{
	0%{ -o-transform: rotate(90deg); left: 110%; opacity: 0; }
	100%{ -o-transform: rotate(0deg); left: 60%; opacity: 1; }
}

@-ms-keyframes fromRightAnim1-rotate{
	0%{ -ms-transform: rotate(90deg); left: 110%; opacity: 0; }
	100%{ -ms-transform: rotate(0deg); left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim2-rotate{
	0%{ -ms-transform: rotate(90deg); left: 110%; opacity: 0; }
	100%{ -ms-transform: rotate(0deg); left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim3-rotate{
	0%{ -ms-transform: rotate(90deg); left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ -ms-transform: rotate(0deg); left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim4-rotate{
	0%{ -ms-transform: rotate(90deg); left: 110%; opacity: 0; }
	100%{ -ms-transform: rotate(0deg); left: 60%; opacity: 1; }
}

@keyframes fromRightAnim1-rotate{
	0%{ transform: rotate(90deg); left: 110%; opacity: 0; }
	100%{ transform: rotate(0deg); left: 10%; opacity: 1; }
}
@keyframes fromRightAnim2-rotate{
	0%{ transform: rotate(90deg); left: 110%; opacity: 0; }
	100%{ transform: rotate(0deg); left: 10%; opacity: 1; }
}
@keyframes fromRightAnim3-rotate{
	0%{ transform: rotate(90deg); left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ transform: rotate(0deg); left: 10%; opacity: 1; }
}
@keyframes fromRightAnim4-rotate{
	0%{ transform: rotate(90deg); left: 110%; opacity: 0; }
	100%{ transform: rotate(0deg); left: 60%; opacity: 1; }
}
/* Slide in from the left*/
.w3d-prlx-slide-fromleft h2{
	-webkit-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	animation: fromLeftAnim1 0.6s ease-in 0.6s both;
}
.w3d-prlx-slide-fromleft p{
	-webkit-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	animation: fromLeftAnim2 0.6s ease-in 0.6s both;
}
.w3d-prlx-slide-fromleft .w3d-prlx-link{
	-webkit-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
	-moz-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
	-o-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
	-ms-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
	animation: fromLeftAnim3 0.4s ease-in 1.2s both;
}
.w3d-prlx-slide-fromleft .w3d-prlx-img{
	-webkit-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	animation: fromLeftAnim4 0.6s ease-in 0.6s both;
}
@-webkit-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}
/* Slide out to the right */
.w3d-prlx-slide-toright h2{
	-webkit-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-moz-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-o-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-ms-animation: toRightAnim1 0.6s ease-in 0.6s both;
	animation: toRightAnim1 0.6s ease-in 0.6s both;
}
.w3d-prlx-slide-toright p{
	-webkit-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-moz-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-o-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-ms-animation: toRightAnim2 0.6s ease-in 0.3s both;
	animation: toRightAnim2 0.6s ease-in 0.3s both;
}
.w3d-prlx-slide-toright .w3d-prlx-link{
	-webkit-animation: toRightAnim3 0.4s ease-in both;
	-moz-animation: toRightAnim3 0.4s ease-in both;
	-o-animation: toRightAnim3 0.4s ease-in both;
	-ms-animation: toRightAnim3 0.4s ease-in both;
	animation: toRightAnim3 0.4s ease-in both;
}
.w3d-prlx-slide-toright .w3d-prlx-img{
	-webkit-animation: toRightAnim4 0.6s ease-in both;
	-moz-animation: toRightAnim4 0.6s ease-in both;
	-o-animation: toRightAnim4 0.6s ease-in both;
	-ms-animation: toRightAnim4 0.6s ease-in both;
	animation: toRightAnim4 0.6s ease-in both;
}
@-webkit-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-moz-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-o-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-ms-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
/* Slide out to the left*/
.w3d-prlx-slide-toleft h2{
	-webkit-animation: toLeftAnim1-slide 0.6s ease-in both;
	-moz-animation: toLeftAnim1-slide 0.6s ease-in both;
	-o-animation: toLeftAnim1-slide 0.6s ease-in both;
	-ms-animation: toLeftAnim1-slide 0.6s ease-in both;
	animation: toLeftAnim1-slide 0.6s ease-in both;
}
.w3d-prlx-slide-toleft p{
	-webkit-animation: toLeftAnim2-slide 0.6s ease-in 0.3s both;
	-moz-animation: toLeftAnim2-slide 0.6s ease-in 0.3s both;
	-o-animation: toLeftAnim2-slide 0.6s ease-in 0.3s both;
	-ms-animation: toLeftAnim2-slide 0.6s ease-in 0.3s both;
	animation: toLeftAnim2-slide 0.6s ease-in 0.3s both;
}
.w3d-prlx-slide-toleft .w3d-prlx-link{
	-webkit-animation: toLeftAnim3-slide 0.4s ease-in both;
	-moz-animation: toLeftAnim3-slide 0.4s ease-in both;
	-o-animation: toLeftAnim3-slide 0.4s ease-in both;
	-ms-animation: toLeftAnim3-slide 0.4s ease-in both;
	animation: toLeftAnim3-slide 0.4s ease-in both;
}
.w3d-prlx-slide-toleft .w3d-prlx-img{
	-webkit-animation: toLeftAnim4-slide 0.6s ease-in 0.6s both;
	-moz-animation: toLeftAnim4-slide 0.6s ease-in 0.6s both;
	-o-animation: toLeftAnim4-slide 0.6s ease-in 0.6s both;
	-ms-animation: toLeftAnim4-slide 0.6s ease-in 0.6s both;
	animation: toLeftAnim4-slide 0.6s ease-in 0.6s both;
}

@-webkit-keyframes toLeftAnim1-slide{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim2-slide{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim3-slide{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4-slide{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-moz-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-o-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-ms-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

/* Slide out to the left with rotation effect*/

.rotate.w3d-prlx-slide-toleft h2{
	-webkit-animation: toLeftAnim1-rotate 0.6s ease-in both;
	-moz-animation: toLeftAnim1-rotate 0.6s ease-in both;
	-o-animation: toLeftAnim1-rotate 0.6s ease-in both;
	-ms-animation: toLeftAnim1-rotate 0.6s ease-in both;
	animation: toLeftAnim1-rotate 0.6s ease-in both;
}
.rotate.w3d-prlx-slide-toleft p{
	-webkit-animation: toLeftAnim2-rotate 0.6s ease-in 0.3s both;
	-moz-animation: toLeftAnim2-rotate 0.6s ease-in 0.3s both;
	-o-animation: toLeftAnim2-rotate 0.6s ease-in 0.3s both;
	-ms-animation: toLeftAnim2-rotate 0.6s ease-in 0.3s both;
	animation: toLeftAnim2-rotate 0.6s ease-in 0.3s both;
}
.rotate.w3d-prlx-slide-toleft .w3d-prlx-link{
	-webkit-animation: toLeftAnim3-rotate 0.4s ease-in both;
	-moz-animation: toLeftAnim3-rotate 0.4s ease-in both;
	-o-animation: toLeftAnim3-rotate 0.4s ease-in both;
	-ms-animation: toLeftAnim3-rotate 0.4s ease-in both;
	animation: toLeftAnim3-rotate 0.4s ease-in both;
}
.rotate.w3d-prlx-slide-toleft .w3d-prlx-img{
	-webkit-animation: toLeftAnim4-rotate 0.6s ease-in 0.6s both;
	-moz-animation: toLeftAnim4-rotate 0.6s ease-in 0.6s both;
	-o-animation: toLeftAnim4-rotate 0.6s ease-in 0.6s both;
	-ms-animation: toLeftAnim4-rotate 0.6s ease-in 0.6s both;
	animation: toLeftAnim4-rotate 0.6s ease-in 0.6s both;
}

@-webkit-keyframes toLeftAnim1-rotate{
	0%{ -webkit-transform: rotate(0deg); left: 10%;  opacity: 1; }
	30%{ -webkit-transform: rotate(30deg);left: 15%;  opacity: 1; }
	100%{ -webkit-transform: rotate(-90deg);left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim2-rotate{
	0%{ -webkit-transform: rotate(0deg);left: 10%;  opacity: 1; }
	30%{ -webkit-transform: rotate(30deg);left: 15%;  opacity: 1; }
	100%{ -webkit-transform: rotate(-90deg);left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim3-rotate{
	0%{ -webkit-transform: rotate(0deg);left: 10%;  opacity: 1; }
	99%{ -webkit-transform: rotate(-90deg);left: 10%; opacity: 0; }
	100%{ -webkit-transform: rotate(-90deg);left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4-rotate{
	0%{ -webkit-transform: rotate(0deg);left: 60%;  opacity: 1; }
	40%{ -webkit-transform: rotate(30deg); left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ -webkit-transform: rotate(-90deg); left: -50%; opacity: 0; }
}

@-moz-keyframes toLeftAnim1-rotate{
	0%{ -moz-transform: rotate(0deg); left: 10%;  opacity: 1; }
	30%{ -moz-transform: rotate(30deg);left: 15%;  opacity: 1; }
	100%{ -moz-transform: rotate(-90deg);left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2-rotate{
	0%{ -moz-transform: rotate(0deg);left: 10%;  opacity: 1; }
	30%{ -moz-transform: rotate(30deg);left: 15%;  opacity: 1; }
	100%{ -moz-transform: rotate(-90deg);left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim3-rotate{
	0%{ -moz-transform: rotate(0deg);left: 10%;  opacity: 1; }
	99%{ -moz-transform: rotate(-90deg);left: 10%; opacity: 0; }
	100%{ -moz-transform: rotate(-90deg);left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4-rotate{
	0%{ -moz-transform: rotate(0deg);left: 60%;  opacity: 1; }
	40%{ -moz-transform: rotate(30deg); left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ -moz-transform: rotate(-90deg); left: -50%; opacity: 0; }
}

/* Wordpress styles */
.postbox label { font-style: italic; }

/* CSS for v0.6 - RESPONSIVE DESIGN & BUG FIX */
/* > add the code below to your custom stylesheet if you have one */

/* Medium screens and tablets ----------- */
@media only screen 
and (max-width : 1024px) {
	/* Styles */
	.w3d-prlx-slider{
		/*min-width: 708px;*/
		height: 370px;
	}
	.w3d-prlx-slide{
		background-color: transparent; 
	}
	.w3d-prlx-slide h2 {font-size: 50px; top: 60px}
	.w3d-prlx-slide p {font-size: 16px; top: 155px}
	.w3d-prlx-slide .w3d-prlx-link{
		border-radius: 25px;
		border: 7px solid rgba(255,255,255,0.8);
		padding: 2px 16px 0px;
		font-size: 15px;
		line-height: 25px;
		/*width: 75px;*/
	}
}

/* Tablets or smartphones ----------- */
@media only screen 
and (max-width : 768px) {
	/* Styles */
	.w3d-prlx-slider{
		/*min-width: 420px;*/
		height: 340px;
	}
	.w3d-prlx-slide{
		background-color: transparent; 
	}
	.w3d-prlx-slide h2 {font-size: 35px; top: 40px}
	.w3d-prlx-slide p {font-size: 14px; top: 120px}
}
@media only screen 
and (max-width : 480px) {
	/* Styles */
	.w3d-prlx-slider{
		/*min-width: 280px;*/
		height: 310px;
	}
	.w3d-prlx-slide{
		background-color: transparent; 
	}
	.w3d-prlx-slide h2 {font-size: 25px; top: 20px}
	.w3d-prlx-slide p {font-size: 12px; top: 100px}
	.w3d-prlx-slide .w3d-prlx-link{
		border-radius: 20px;
		border: 5px solid rgba(255,255,255,0.8);
		padding: 2px 12px 0px;
		font-size: 12px;
		line-height: 20px;
		/*width: 65px;*/
	}
}
@media only screen 
and (max-width : 320px) {
	/* Styles */
	.w3d-prlx-slider{
		height: 280px;
	}
	.w3d-prlx-slide{
		background-color: transparent; 
	}
	.w3d-prlx-slide h2 {font-size: 20px; top: 15px}
	.w3d-prlx-slide p {font-size: 12px; top: 60px}
	.w3d-prlx-slide .w3d-prlx-link{
		border-radius: 20px;
		border: 4px solid rgba(255,255,255,0.8);
		padding: 2px 5px 0px;
		font-size: 12px;
		line-height: 20px;
		/*width: 60px;*/
	}
}

